@tailwind base;
@tailwind components;
@tailwind utilities;
@import './base.scss';
@import './safari.scss';

html {
  height: 100%;
}

body {
  font-size: 14px;
  height: 100%;

  @media screen and (min-width: 500px) {
    background: url("@/assets/bg.webp") no-repeat;
  }
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0;

  @media screen and (max-width: 500px) {
    padding: 0;
  }
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

input,
textarea {
  outline: none;
}